---
import { getImage } from 'astro:assets';
import imageSrc from '../assets/Ei-removebg-HD.webp';

const optimizedImage = await getImage({
  src: imageSrc, 
  width: 800,
  height: 800,
  format: 'webp',
});
---

<style>
  @media (max-width: 768px) {
    img {
      width: 200px; 
    }
  }

  @media (max-width: 480px) {
    img {
      display: none;
    }
  }
</style>

<div class="relative">
  <!-- Imagen optimizada -->
  <img
    src={optimizedImage.src}
    alt="Tu foto de perfil"
    width="320"
    height="320"
    class="aspect-square w-80 object-cover shadow-[0_0_20px] dark:shadow-[0_0_30px] dark:shadow-black/50 shadow-gray-700/30 scale-x-[-1] object-[10%_center] min-w-[150px] rounded-full mask-borders"
    style="filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.9)) saturate(1.7);"
  />
</div>
